*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    font-size: 1.75rem;
}

section{
    position: relative;
    background-color: beige;    
}
p{
    border: 1px solid black;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 2px 50px;
    font-size: 1.25rem;
    
}
.section1 p{
    background-color: chocolate;
}
.section2 p{
    background-color: cadetblue;

}
.section3 p{
    background-color: crimson;
}
@media (min-width:992px) /* desktop version*/
{
   section {
        margin:1%;
        border: 1px solid black;
        width: 31.3%;
        padding-top:25px;
        float: left;
        
}

}
@media (min-width:768px) and (max-width:991px)/* tablet version*/
{
    .section1,.section2
    {
        margin:1%;
        border: 1px solid black;
        width:48%;
        padding-top :25px;
        float: left;

    }
    .section3{
        margin:1%;
        border: 1px solid black;
        width:98%;
        padding-top:25px;
        float: left;
    }

}
@media (max-width:767px)/* mobile version*/
{
    section {
        margin:1%;
        border: 1px solid black;
        width: 98%;
        padding-top:25px;
        
    
}


}
